.about {
  position: relative;
}

.about::before {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/about-me-bckg.jpg");
  background-position: center;
  background-size: cover;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.about__container {
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.about__body {
  margin-top: 2rem;
}

/* Card */
.card {
  padding: 0.5rem 0.5rem 2rem;
  min-width: 250px;
  max-width: 380px;
  width: clamp(250px, 64.5%, 380px);
  margin-inline: auto;
  background-color: #f5f5f5;
  text-align: center;
}

.card img {
  display: block;
  width: 100%;
}

.card__title {
  font-size: 38px;
  color: var(--dark-black);
  margin-block: 0.8rem;
}

.card__title::first-letter {
  font-size: 64px;
  color: var(--primary-color);
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;
}

.card__text {
  color: var(--light-black);
  font-style: italic;
  line-height: 1.5;
  width: 80%;
  margin-inline: auto;
}
/* End of Card */

/* Carousel Css */
.carousel {
  color: var(--primary-color);
  text-align: center;
  overflow: hidden;
}

.carousel > :not(:first-child) {
  margin-top: 1.2rem;
}

.carousel__slider {
  display: flex;
}

.carousel__slide {
  flex: 1;
}

:where(.carousel__slide > :not(:first-child)) {
  margin-top: 1.2rem;
}

.carousel__slide__title {
  color: var(--white);
}

.carousel__slide__text {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 0.5rem;
}

.carousel__slide__text::first-letter {
  font-size: 48px;
  color: var(--white);
  line-height: 1;
}

.carousel__footer h3 {
  font-size: 25px;
  margin-bottom: 0.3rem;
}

.carousel__footer span {
  color: var(--white);
  font-size: 14px;
}

@media (min-width: 650px) {
  .carousel__footer {
    margin-top: 2rem;
  }
}

.carousel__navigation {
  display: flex;
  justify-content: space-between;
  width: 30%;
  max-width: 150px;
  margin-inline: auto;
}

@media (min-width: 1000px) {
  .carousel__footer {
    margin-bottom: 1rem;
  }

  .carousel__navigation {
    width: 100%;
    max-width: 100%;
    justify-content: center;
    gap: 0.2rem;
  }
}

@media (min-width: 1100px) {
  .carousel__navigation {
    gap: 1rem;
  }
}

.carousel__btn {
  background-color: transparent;
  width: 40px;
  height: 40px;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  font-size: 1rem;
  color: var(--primary-color);
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.carousel__btn:hover {
  border: 1px solid var(--white);
  color: var(--white);
}

.carousel-transition {
  transition: all 0.4s ease-in;
}
/* End of carousel */

/* DESKTOP */
@media (min-width: 1000px) {
  .about::before {
    width: 70%;
    left: 30%;
  }

  .about__container {
    display: flex;
    justify-content: space-between;
    padding: 5rem 0;
  }

  .about__card {
    padding-bottom: 6rem;
    flex-basis: 100%;
    margin: 0;
  }

  .card__title::first-letter {
    font-size: 95px;
  }

  .card__text {
    width: 90%;
  }

  .about__body {
    margin-top: 0;
    margin-left: auto;
    flex-basis: 50%;
  }
}
