@font-face {
  font-family: Calisto-MT;
  src: url(/fonts/Calisto-MT.ttf) format(truetype);
}

@font-face {
  font-family: Calisto-MT-Bold;
  src: url(/fonts/Calisto-MT-Bold.ttf) format(truetype);
  font-weight: bold;
}

@font-face {
  font-family: Calisto-MT-Italic;
  src: url(/fonts/Calisto-MT-Italic.ttf) format(truetype);
}

:root {
  --primary-color: #c18f59;
  --black: #000000;
  --light-black: #777777;
  --dark-black: #222222;
  --white: #ffffff;

  --size-100: 0.6875rem;
  --size-200: 0.875rem;
  --size-250: 1.125rem;
  --size-300: 1.5rem;
  --size-400: 1.875rem;
  --size-450: 2.1875rem;
  --size-500: 2.375rem;
  --size-600: 2.8125rem;
  --size-700: 5.625rem;

  --normal-size: 1rem;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 200vh;
  font-family: Calisto-MT;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Utility classes */
.scroll-disabler {
  height: 100vh;
  overflow: hidden;
}

.section {
  margin: 3rem 0;
}

.primary-container {
  width: 90%;
  max-width: 1200px;
  margin-inline: auto;
}

.secondary-container {
  width: 62%;
  margin-inline: auto;
}

@media (min-width: 540px) {
  .secondary-container {
    width: 90%;
  }
}

@media (min-width: 1200px) {
  .primary-container {
    width: 85%;
  }
}

.btn {
  background-color: transparent;
  border: 1px solid var(--white);
  padding: 0.6rem 1.5rem;
  color: var(--primary-color);
  cursor: pointer;
  transition: all 0.3s ease;
}

.section-title {
  font-size: 30px;
  color: var(--dark-black);
  text-align: center;
}

.section-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 10px;
  background-image: url("../images/double-line.svg");
  background-repeat: no-repeat;
  margin: 1rem auto 0rem;
}

@media (min-width: 650px) {
  .section-title {
    font-size: 38px;
  }
}

@media (min-width: 1240px) {
  .section-title {
    font-size: 48px;
  }
}

.sub-section-title {
  color: var(--dark-black);
  font-size: 1.125rem;
}

:where(.spacing-between > :not(:first-child)) {
  --gap: 1.2rem;
  margin-top: var(--gap);
}
